/* LoginPage.module.css */

.container {
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 50px;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup input {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.btn {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}


@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        
      }
  }
  