/* ReadBlog.module.css */

.container {
  margin-top: 20px;
  display: flex;
}

.content {
  flex: 1;
}

.commentSection {
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.comment p {
  margin: 0;
}

.commentUser {
  font-style: italic;
  color: #888;
}

.commentForm {
  margin-top: 20px;
}

.commentForm textarea {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
}

.commentForm button {
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.commentForm button:hover {
  background-color: #0056b3;
}



/* Responsive styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .commentSection {
    margin-top: 20px;
    height: auto;
    max-height: 300px; /* Set a maximum height for the comment section on smaller screens */
    overflow-y: auto;
  }

  .commentForm textarea {
    width: calc(100% - 10px); /* Adjust textarea width for smaller screens */
  }
}